<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="h-screen text-white">
    <div class="flex justify-center h-full  bg-slate-50 dark:bg-slate-800">
        <div class="w-full" >
                <nav class="px-4 bg-slate-200 dark:bg-slate-900 w-11/12 h-6/12 p-4 flex gap-4">
                    <p class="w-full">App</p> 
                    <a href="/">Home</a>
                    <a href="/singUp/">SingUp</a>
                    <a href="/login/">Login</a>
                    <a href="/app/">App</a>        
                </nav>
        </div>
        <div class="flex justify-center items-center h-full px-4 bg-slate-50 dark:bg-slate-800">
        <form class="bg-slate-200 dark:bg-slate-700 w-full h-6/12 p-4 rounded-lg flex flex-col gap-4">
            <h1>Todo App</h1>
            <h2>Aplicación para agendar tus tareas, te permite, agregar, borrar y editar tus tareas </h2>
            <button>Registrar</button>
    </form>
</div>
</div>    
</body>
</html>